.measure {
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 10px;
  min-width: 230px;
  padding: 16px 16px;
  color: white;
  background-color: #0d6dfdf5;
  border: 2px solid red;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__close {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 2px;
    font-weight: var(--fw-600-semibold);
    transform: scaleX(1.5);
    transform-origin: 100% 0;
    cursor: pointer;

    &:hover {
      color: var(--co-yellow);
    }
  }

  span {
    color: yellow;
    float: right;
  }

  .line {
    position: absolute;
    z-index: 1000;
    top: 846px;
    width: 100%;
    color: yellow;
    margin: 0;

    &--belt {
      top: 864px;
    }
  }
}
